/* Table of Contents
    1. Global Styles
    2. Nav Styles
    3. Portfolio Styles
    4. Contact/Footer Style
*/

/* ====================
    1. Global Styles
   ==================== */

* {
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

body {
  margin: 0 auto;
  max-width: 1024px;
}

img {
  max-width: 100%;
}

/* ====================
   2. Nav Styles
   ==================== */
ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

nav {
  font-family: "Mitr", Arial, Verdana;
  font-weight: 400;
  letter-spacing: 0.05em;
  background-color: #f6f6f6;
  padding: 25px;
}

h1,
h2,
h3,
h4,
.top-nav {
  text-align: center;
}
h1,
h2,
h3,
h4 {
  font-family: "Allerta Stencil", sans-serif;
}

h4 {
  text-transform: uppercase;
}

.top-nav,
.top-nav li {
  width: 100%;
}

h1 a,
.top-nav a {
  color: #000;
}

.top-nav {
  margin-top: 30px;
}

.top-nav li {
  padding: 10px 0;
  margin: 5px auto;
  background-color: #fff;
}

.top-nav a {
  text-transform: uppercase;
}

/* ====================
    3. Portfolio Styles
   ==================== */
.container {
  max-width: 1100px;
  padding: 10px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.card {
  margin: 10px;
  min-height: 250px;
  color: black;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 5px;
}

/* ====================
    4. Skills Styles
   ==================== */
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#html,
#css,
#javascript {
  margin: 10px;
  align-self: center;
  border-radius: 10px 0;
  color: #000;
  box-shadow: 2px 2px 2px rgb(100, 100, 149);
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-p {
  width: 80%;
}

.footer-nomobile {
  display: none;
}

/* ====================
    4. Contact/Footer
   ==================== */

/* Contact Styles */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contact h3 {
  text-transform: uppercase;
  padding-top: 60px;
}
.contact-p {
  text-align: center;
  font-size: x-large;
  font-weight: 100;
}

#contact-p {
  font-size: 20px;
  font-weight: 200;
}

/* Footer Styles */

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
}
.footer-nav a {
  color: #000;
  text-transform: uppercase;
  font-size: small;
}
footer {
  padding: 10px;
}

footer nav {
  padding: initial;
}

footer h2 {
  text-align: left;
  font-size: 20px;
}
footer h2 a {
  color: #000;
}
.hide {
  display: none;
}

/* ====================
   Media Queries 768px
   ==================== */
@media screen and (min-width: 768px) {
  /* Nav styles */
  .nav-container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
  .nav-container h1 {
    width: 300px;
    margin: 0;
    padding: 0;
    align-self: center;
  }

  .top-nav {
    align-self: center;
    width: 80%;
    justify-content: space-evenly;
  }

  .top-nav li {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    background-color: transparent;
    font-size: small;
    margin-bottom: 0;
  }

  .top-nav a {
    color: #000;
  }

  /* Portfolio Styles */
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #portfolio {
    width: 47rem;
    align-items: center;
  }
  .section1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }
  .section2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .box-1 {
    flex-direction: row-reverse;
    justify-content: center;
    align-self: center;
    padding: 0;
    background-color: #f6f6f6;
  }
  .box-1 p {
    margin-right: 100px;
    width: 30%;
    text-align: start;
  }
  .box-1 img {
    width: 300px;
    height: 200px;
    margin-right: 25px;
  }

  /* Skills Styles */
  .skills {
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #html,
  #css,
  #javascript {
    box-shadow: 2px 2px 2px rgb(40, 179, 24);
  }

  .contact-p {
    font-size: large;
    width: 30rem;
  }
  /* Footer Styles */
  .footer-name {
    padding: 0;
    margin: 0;
    width: 20em;
  }
  .footer-container,
  .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  .top {
    display: none;
  }

  .footer-nomobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .bottom-nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: "Mitr", Arial, Verdana;
    color: #000;
  }
  .hide {
    display: flex;
    padding-right: 20px;
    color: #000;
  }
}

/* ====================
   Media Queries 1024px
   ==================== */

@media screen and (min-width: 1024px) {
  /* Global Styles */

  /* Nav Styles */
  .nav-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(245, 245, 220, 0.319);
  }
  .contact-p {
    color: steelblue;
  }

  .top-nav,
  .top-nav li {
    width: initial;
    margin-bottom: 0;
  }
  .top-nav li {
    outline: 2px solid black;
    width: 90px;
    background: #ededed;
  }
  .top-nav li:hover {
    transform: translate(2px, 4px);
    border-radius: 50px;
    background: linear-gradient(#2396bf, #0d5b77 40%, #004961 3%, #004961);
  }

  /* Portfolio Styles */
  #portfolio {
    width: 62rem;
  }
  .section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 80em;
  }
  .section2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    width: 80em;
  }
  .box-2 img:hover,
  .box-3 img:hover,
  .box-4 img:hover,
  .box-5 img:hover,
  .box-6 img:hover,
  .box-7 img:hover {
    filter: invert(90);
  }
  .box-6 {
    margin-top: 25px;
  }
  /* Skills styles */
  #html,
  #css,
  #javascript {
    width: 75px;
    height: 50px;
    box-shadow: 4px 5px 2px rgb(58, 50, 50);
    border-radius: 15px 20px 2px 15px;
    /* text-shadow: rgb(2, 2, 2); */

    background-color: rgb(40, 62, 92);
    color: #ffffff;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93,
      -2px 1px #cdd2d5, -2px 3px #808d93;
  }

  /* Footer Styles */
  .hide {
    padding: 0;
    justify-content: center;
  }

  .footer-nomobile li {
    outline: 2px solid black;
    width: 90px;
    background: #ededed;
    margin-right: 5px;
  }
  .footer-nomobile li:hover {
    transform: translate(2px, 4px);
    border-radius: 50px;
    background: linear-gradient(#2396bf, #0d5b77 40%, #004961 3%, #004961);
  }
}
