/* Table of Contents
    1. Global Styles
    2. Nav Styles
    3. Portfolio Styles
    4. Contact/Footer Style
*/

/* ====================
    1. Global Styles
   ==================== */

* {
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

body {
  margin: 0 auto;
  max-width: 1024px;
}

img {
  max-width: 100%;
}

/* ====================
   2. Nav Styles
   ==================== */
ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  text-transform: capitalize;
}

nav {
  font-family: "Roboto", Arial, Verdana;
  font-weight: 400;
  letter-spacing: 0.05em;
  background-color: #f6f6f6;
  padding: 25px;
}

h1,
h2,
h3,
h4,
.top-nav {
  text-align: center;
}
h1,
h2,
h3,
h4 {
  font-family: "Allerta Stencil", sans-serif;
}

h4 {
  text-transform: uppercase;
}

.top-nav,
.top-nav li {
  width: 100%;
}

h1 a,
.top-nav a {
  color: #000;
}

.top-nav {
  margin-top: 30px;
}

.top-nav li {
  padding: 10px 0;
  margin: 5px auto;
  background-color: #fff;
}

.top-nav a {
  text-transform: uppercase;
}

/* ====================
    3. Portfolio Styles
   ==================== */
.container {
  max-width: 1100px;
  padding: 10px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
.card {
  margin: 10px;
  min-height: 250px;
  color: black;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 5px;
}

/* ====================
    4. Skills Styles
   ==================== */
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#html,
#css,
#javascript {
  margin: 10px;
  align-self: center;
  border-radius: 10px 0;
  color: #000;
  box-shadow: 2px 2px 2px rgb(100, 100, 149);
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills-p {
  width: 80%;
}

/* ====================
    4. Contact/Footer
   ==================== */

/* Contact Styles */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contact h3 {
  text-transform: uppercase;
  padding-top: 60px;
}
.contact-p {
  text-align: center;
  font-size: x-large;
  font-weight: 100;
}

#contact-p {
  font-size: 20px;
  font-weight: 200;
}

/* Footer Styles */

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
}
.footer-nav a {
  color: #000;
  text-transform: uppercase;
}
footer {
  padding: 10px;
}

footer nav {
  padding: initial;
}

footer h2 {
  text-align: left;
  font-size: 20px;
}

/* ====================
   Media Queries 768px
   ==================== */
@media (min-width: 768px) {
  /* Nav styles */
  .nav-container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
  .nav-container h1 {
    width: 300px;
    margin: 0;
    padding: 0;
    align-self: center;
  }

  .top-nav {
    align-self: center;
    width: 80%;
    justify-content: space-evenly;
  }

  .top-nav li {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    background-color: transparent;
    font-size: small;
  }

  .top-nav li:last-child {
    margin-right: 0;
  }

  .top-nav a {
    color: #000;
  }

  /* Portfolio Styles */
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .box-1 {
    outline: 2px solid red;
  }
  .card {
    flex-basis: calc(50% - 20px);
  }

  /* Skills Styles */
  .skills {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    outline: 2px solid red;
  }

  /* Footer Styles */
  .footer-container,
  .footer-nav {
    display: flex;
    flex-direction: row;
  }
}

/* ====================
   Media Queries 1024px
   ==================== */

@media (min-width: 1024px) {
  /* Nav Styles */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-nav,
  .top-nav li {
    width: initial;
    margin-bottom: 0;
  }

  /* Portfolio Styles */
}
