/* Table of Contents
    1. Global Styles
    2. Nav Styles
    3. Portfolio Styles
    4. Contact/Footer Style
*/

/* ====================
    1. Global Styles
   ==================== */

* {
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

body {
  margin: 0 auto;
  max-width: 1024px;
}

img {
  max-width: 100%;
}
h4 {
  text-transform: uppercase;
}
a {
  text-decoration: none;
  text-transform: capitalize;
}

/* ====================
   2. Nav Styles
   ==================== */
ul {
  list-style: none;
  padding-left: 0;
}

nav {
  font-family: "Roboto", Arial, Verdana;
  font-weight: 400;
  letter-spacing: 0.05em;
  background-color: #f6f6f6;
  padding: 25px;
}

h1,
h2,
h3,
h4,
.top-nav {
  text-align: center;
}
h1,
h2,
h3,
h4 {
  font-family: "Allerta Stencil", sans-serif;
}

.top-nav,
.top-nav li {
  width: 100%;
}

h1 a,
.top-nav a {
  color: #000;
}

.top-nav {
  margin-top: 30px;
}

.top-nav li {
  padding: 10px 0;
  margin: 5px auto;
  background-color: #fff;
}
.top-nav li a {
  display: inline-block;
}

.top-nav a {
  text-transform: uppercase;
}
/* Link hover effect */
.top-nav li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: grey;
  transition: width 0.3s;
}

.top-nav li:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* ====================
    3. Portfolio Styles
   ==================== */
.container {
  max-width: 1100px;
  padding: 10px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
.card {
  margin: 10px;
  min-height: 250px;
  color: black;
  text-align: center;
  letter-spacing: 1px;
  padding-top: 5px;
}

/* ====================
    4. Contact/Footer
   ==================== */

/* Contact Styles */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contact h3 {
  text-transform: uppercase;
  padding-top: 100px;
}
.contact-p {
  text-align: center;
  font-size: x-large;
  font-weight: 100;
}
.contact .contact-phone,
.contact .contact-email {
  font-size: 25px;
  font-weight: 300;
}
.contact-phone {
  margin: 10px 0;
}

/* Footer Styles */

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
}
.footer-nav a {
  color: #000;
}

/* ====================
   Media Queries 768px
   ==================== */
@media (min-width: 768px) {
  /* Nav styles */
  .top-nav {
    margin-top: 0;
  }

  .top-nav li {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    background-color: transparent;
  }

  .top-nav li:last-child {
    margin-right: 0;
  }

  .top-nav a {
    color: #000;
  }

  /* Portfolio Styles */
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .card {
    flex-basis: calc(50% - 20px);
  }

  /* Footer Styles */
  .footer-container,
  .footer-nav {
    display: flex;
    flex-direction: row;
  }
}

/* ====================
   Media Queries 1024px
   ==================== */

@media (min-width: 1024px) {
  /* Nav Styles */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-nav,
  .top-nav li {
    width: initial;
    margin-bottom: 0;
  }

  /* Portfolio Styles */
}
